<div class="pretty">
<h2>Your Question:</h2>
<p><%= @question %></p>
</div>

<div class="pretty">
<h2>Coach's Answer:</h2>
<p><%= @answer %></p>
</div>

<div class="pretty">
<%= link_to "Ask again", '/ask', class: "link" %>
</div>
